header.header
    .header__column
        a(href=routes.home)
            i.fab.fa-youtube
    .header__column
        ul
            li
                a(href=routes.signup) 회원가입
            li
                a(href=routes.login) 로그인