.social-login
    button.social-login--facebook
        span
            i.fab.fa-facebook
        |Continue with Facebook
    button.social-login--google
        span
            i.fab.fa-google
        |Continue with google
