.social-login
    button.social-login--facebook
        span
            i.fab.fa-facebook
        |Continue with Facebook
    button.social-login--github
        a(href=routes.github)
            span
                i.fab.fa-github
            |Continue with github
