.video__comments-list {
  margin-top: 50px;
  li {
    background-color: #3498db;
    color: white;
    padding: 15px;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
