.videoBlock {
  display: inline-block;
  justify-content: center;
  width: 18%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 30px;
  &:last-child {
    margin-right: 0;
  }
  video {
    margin-bottom: 10px;
    max-width: 100%;
  }
  .videoBlock__title {
    display: inline-block;
    height: 32px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .videoInfoBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    color: $dark-grey;
    font-size: 14px;
    .videoSubInfo {
      width: 100%;
    }
  }
}
