.record-container {
  width: 100%;
  max-width: 320px;
  margin-bottom: 30px;
  video {
    width: 100%;
    margin-bottom: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #efefef;
  }
}
