extends layouts/main
include mixins/videoBlock

//- db.js에서 videos를 불러와서 videoController로 home.pug에 뿌려준걸 받아와서 출력
block content
    .videos
        each item in videos
            +videoBlock({
                id: item.id,
                title: item.title,
                views: item.views,
                videoFile: item.fileUrl
            })