extends layouts/main
include mixins/videoBlock

//- videos를 불러와서 videoController로 home.pug에 뿌려준걸 받아와서 출력
block content
    .home-videos
        each item in videos
            +videoBlock({
                id: item.id,
                title: item.title,
                creator: item.creator.name,
                views: item.views,
                videoFile: item.fileUrl,
                createdAt: item.createdAt
            })