extends layouts/main

block content
    .form-container
        form(action=routes.videoEdit(video.id), method="post")
            input(type="text", placeholder="제목", name="title", value=video.title)
            textarea(name="description", placeholder="동영상을 설명해주세요")=video.description
            //- textarea는 value를 가지지 않아서 video.description을 밖으로 빼준다.
            input(type="submit", value="Update Video")
        a.form-container__link.form-container__link--delete(href=routes.videoDelete(video.id)) Delete Video 
