mixin message(message={})
    .flash-message__container(class=message.type)
        .flash-message__img
            img(src=`../../static/images/${message.type}.png`)
        .flash-message__box
            .flash-message__text=message.text 
            .flash-message__subtext=message.subtext