extends layouts/main

block content
    .form-container
        form(action=`/users${routes.changePassword}`, method="post")
            input(type="password", name="oldPassword", placeholder="현재 비밀번호를 입력하세요")
            input(type="password", name="newPassword", placeholder="새로운 비밀번호")
            input(type="password", name="newPassword2", placeholder="새로운 비밀번호를 확인해주세요")
            input(type="submit", value="Change Password") 