extends layouts/main
include mixins/videoBlock

block content
    .user-profile
        .user-profile__header
            if user.avatarUrl
                img.u-avatar(src=`/${user.avatarUrl}`)
            else
                .u-noPhoto
                    i.fas.fa-user-astronaut
            h4.profile__username=user.name
        if user.id === loggedUser.id
            .my-profile__btns
                a(href=`/users${routes.editProfile}`)
                    button.edit-btn 프로필 수정
                a(href=`/users${routes.changePassword}`)
                    button.edit-btn 비밀번호 수정
        .upload-videos
            each item in user.videos
                +videoBlock({
                    id: item.id,
                    title: item.title,
                    views: item.views,
                    videoFile: item.fileUrl,
                    createdAt: item.createdAt.toDateString()
                })