// 비디오 코멘트 박스

.video__comments {
  width: 100%;
  padding: 2%;
  margin-top: 25px;
  .video__comment-number {
    font-size: 18px;
    span {
      &:first-child {
        margin-right: 3px;
      }
    }
  }
  .add__comment {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    .video__creator-avatar,
    .noPhoto {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      border-radius: 50%;
    }
    i {
      font-size: 32px;
    }

    input {
      width: 100%;
      max-width: none;
      border-bottom: 1px solid transparent;
      border-radius: 0;
      &:focus {
        border-bottom: 1px solid $dark-grey;
      }
    }
  }
  .video__comments-list {
    margin-top: 50px;
    li {
      display: flex;
      align-items: center;
      color: $black;
      padding: 10px;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      a {
        display: flex;
        align-items: center;
        .comment__creator-avatar,
        .noPhoto {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          margin-right: 10px;
          border-radius: 50%;
        }
        i {
          font-size: 32px;
        }
      }
      .comment__box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 5px;
        .comment__header {
          display: flex;
          align-items: center;
          margin-bottom: 5px;
          .creator-name {
            margin-right: 5px;
            font-size: 14px;
            font-weight: 600;
          }
          .created-at {
            color: $dark-grey;
            font-size: 12px;
          }
        }
        .content {
          font-size: 12px;
        }
      }
    }
  }
}
