.video-detail__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .video__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 25px;
    margin-bottom: 25px;
    .title-container {
      .video__title {
        margin-bottom: 5px;
        font-size: 18px;
      }
      .video__views {
        font-weight: 500;
        font-size: 15px;
        color: $dark-grey;
      }
    }
    .video__function {
      a {
        padding: 8px 12px;
        border: 1px solid $red;
        border-radius: 3px;
        color: $red;
        transition: all 0.5s ease-in-out;
        &:hover {
          background-color: $red;
          color: #ffffff;
        }
      }
    }

    .video__description {
      font-size: 14px;
    }
  }
  .video__subInfo {
    width: 100%;
    padding: 1%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    a {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      .video__creator-avatar,
      .noPhoto {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;
        margin-right: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        border-radius: 50%;
      }
      i {
        font-size: 32px;
      }
    }
    .video__creator-name {
      font-weight: 600;
    }
  }
  .video__description {
    margin-bottom: 15px;
  }
}
