include ../mixins/message

doctype html
html
    head
        //- fontawesome
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="/static/styles.css")
    body
        if messages.error
            +message({
                type:'error',
                text:messages.error,
                subtext: '다시 한 번 확인해주세요 :)'
            })
        else if messages.goodbye
            +message({
                type:'goodbye',
                text:messages.goodbye,
                subtext: '안녕히가세요 :)'
                
            })
        else if messages.success
            +message({
                type:'success',
                text:messages.success,
                subtext: '오늘도 즐거운 하루 되세요 :)'
            })
        include ../partials/header
        main
            block content
        include ../partials/footer
        script(src="/static/main.js")